<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Disciplinas Cadastradas | ADM</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/1e335b449c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../public/CSS/disciplinas.css">
    </head>

    <body>
        <!-- Navbar -->
        <!-- Corpo da Página-->

        <!-- Breadcrumb e Busca -->
        <section class="header-main border-bottom">
            <div class="container-fluid">
                <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
                    <div class="col-md-4">
                        <nav aria-label="Breadcrumb navigation" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Disciplinas Cadastradas</a></li>
                                <li class="breadcrumb-item" aria-current="page">ADM Disciplinas Cadastradas</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-md-8">
                        <div class="d-flex form-inputs"><input class="form-control" type="text" placeholder="Digite o nome da disciplina"> <i class="bx bx-search"></i></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim do Breadcrumb e busca -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>