html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
  background-color: whitesmoke;
}

.navbar-home {
  background-color: #FF0000 !important;
}

.nav-link {
  color: #FFFFFF !important;
}
.nav-link:hover {
  background: #eb616c;
}
.nav-item{
  display: inline-block;
}
.navbar-brand {
  padding-right: 15px;
  padding-left: 15px;
}

/* Classes */
.main{
   margin-top: 110px;
}

.miniatura {
  padding: 0 5%;
  margin: 5% auto;
  max-width: 790px;
  display: flex;
  flex-wrap: wrap;
}

.cartao {
  background-color: #DCDCDC;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 18px;
}

.cartao:hover {
  background-color: #c3c3c3;
}

.main a {
  text-decoration: none;
  color: #001 !important;
}

.main a:hover {
  text-decoration: none;
}

.card-text {
  font-size: 1.2em;
}

@media (max-width: 690px) {
  .miniatura {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .cartao {
    margin-right: 0;
  }
}
