body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: #6c757d;
}

.container {
    margin-top: 1%;
    margin-bottom: 2%;
    box-shadow: 3px 3px 7px black;
    border-radius: 5px;
}

.main {
    list-style-type: upper-alpha;
}

.box {
    padding: 2%;
    font-size: 1.1em;
    margin: 10px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

input[type="submit"] {
    margin-left: 10px;
}

.item_1>input {
    margin-right: 10px;
}
button{
    padding: 0 !important;
}

@media (max-width: 575.98px) {
    .container {
        margin: 1% 0 1% 0;
        box-shadow: none;
    }
    
    .box {
        padding: 0;
        font-size: 1.1em;
    }
    
    .main {
        margin-left: -5px;
        padding-left: 10px;
        font-size: 0.9em;
    }
    input[type="submit"] {
        margin-left: 5px;
    }
}