/* Elementos */

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin-right: 250px;
    margin-left: 250px;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: whitesmoke;
}

/*Classes */

.instrucoes {
    text-align: center;
}

.instrucoes h1 {
    margin-top: 100px;
    color: #191970;
}

.instrucoes p {
    font-size: 24px;
}

.entrar-contato {
    text-align: center;
}

.form-floating {
    color:#808080;
    margin-top: 15px;
    margin-bottom: 15px;
}

.telefone {
    color: #191970;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.btn-call-to-action {
    background-color: #FF0000;
    color: #FFFFFF;
    border: #FF0000;
}

/* Responvidade */

@media (max-width: 800px) {

    body {
        margin-left: 15px;
        margin-right: 15px;
    }

    .instrucoes h1 {
        text-align: center;
    }

    .instrucoes p {
        text-align: justify;
    }
}