html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: whitesmoke;
}

.legend {
    display: block;
    height: 50px;
    line-height: 50px;
}

table {
    border-bottom: 3px solid rgb(44, 41, 41);
}

thead {
    background: rgb(44, 41, 41);
    color:white;
    font-weight: bold;
}

.divider {
    border-top: 2px solid rgb(44, 41, 41);
}