/* Elementos */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: whitesmoke;
}

/* Classes */
.miniatura {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cartao {
    background-color: #DCDCDC;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 18px;
}
.cartao:hover{
    background-color: #c3c3c3;
}

a{  
    text-decoration: none;
    color: #001 !important;
}

a:hover{
    text-decoration: none;
}

/* Responsividade */

@media (max-width: 750px){
    .miniatura {
        justify-content: center;
    }
}
@media (max-width: 620px){
    .cartao{
        margin-right: 0;
    }
}
