/* Elementos */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: whitesmoke;
}

/* Classes */
.miniatura {
    padding: 0 5%;
    margin: 5% auto;
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.cartao {
    background-color: #DCDCDC;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 18px;
}
.cartao:hover{
    background-color: #c3c3c3;
}

a{  
    text-decoration: none;
    color: #001 !important;
}
a:hover{
    text-decoration: none;
}
.card-text{
    font-size: 1.2em;
}

@media (max-width: 690px){
    .miniatura {
        justify-content: center;
    }
}
@media (max-width: 650px){
    .cartao{
        margin-right: 0;
    }
}
