html, body {
    height: 100%;
}

.container{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height: 80%;   
}
.btn-tan{
    width: 200px !important;
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    background-color:#4165ad
}
p{
    width: 60%;
    margin: 0 auto;
    font-size: 1.1em;
    text-justify: center;
}

@media (max-width: 1050.98px) {
    p{
        width: 70%;
        font-size: 1em;
    }
}

@media (max-width: 550.98px){
    footer{
        height: 30%;
    }
    p{
        width: 90%;
        font-size: 0.95em;
    }
}