/* Elementos */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: whitesmoke;
}

/* Página Sobre */
/* Classes */

.main {
    padding: 60px 130px 20px 60px;
}

.sobre h2 {
    text-align: center;
    font-size: 50px;
    color: #FF0000;
}

.sobre p {
    text-align: justify;
    font-size: 20px;
    color: #800000;
}

/* Responsividade */

@media (max-width: 750px) {

    .sobre {
        width: 100%;
        max-width: 85%;

        margin-left: 55px;
    }

    .sobre h2 {
        text-align: center;
    }

    .sobre p {
        text-align: justify;
    }
}